@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
  transition:
    color 0.1s,
    background-color 0.2s,
    border 0.1s;
}

* {
  word-break: keep-all;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  background-color: var(--color-surface-primary);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/*🚨여기에 색,폰트 지정🚨*/
@theme {
  --breakpoint-md: 700px;
  --breakpoint-2xl: 1100px;
  --breakpoint-3xl: 1512px;
  --breakpoint-4xl: 2000px;
  --font-d2: D2Coding;
  --font-pp: PP Lettra Mono;
  --font-pretendard: Pretendard;
  --color-surface-primary: #ffffff;
  /* --color-surface-primary-dark: #232325; */
  --color-surface-secondary: #e4edf7;
  /* --color-surface-secondary-dark: #303034; */
  --color-surface-tertiary: #5c8cc2;
  /* --color-surface-tertiary-dark: #39393b; */
  --color-text-primary: #0e54a4;
  /* --color-text-primary-dark: #bad5e6; */
  --color-text-secondary: #5c8cc2;
  /* --color-text-secondary-dark: #7c8e99; */
  --color-text-invert: #ffffff;
  /* --color-text-invert-dark: #232325; */
  --color-status-negative: #ff6462;

  /*그라디언트*/
  --gradient-primary: linear-gradient(
    to right,
    var(--surface-tertiary) 0%,
    var(--surface-secondary) 27.5%,
    var(--text-primary) 90%
  );

  --animate-spin-logo: spin 5s linear infinite;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/font/PretendardVariable.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Lettra Mono';
  src: url('./assets/font/pp-lettra-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
