@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

/*🚨여기에 색, 폰트 지정🚨*/
@theme {
  --font-d2: D2Coding;
  --color-surface-primary-light: #ffffff;
  --color-surface-primary-dark: #232325;
  --color-surface-secondary-light: #e9f4ff;
  --color-surface-secondary-dark: #303034;
  --color-surface-tertiary-light: #8dc2ff;
  --color-surface-tertiary-dark: #39393b;
  --color-text-primary-light: #288dff;
  --color-text-primary-dark: #b9d5e6;
  --color-text-secondary-light: #8dc2ff;
  --color-text-secondary-dark: #d2e6f2;
  --color-text-invert-light: #ffffff;
  --color-text-invert-dark: #232325;
  --color-status-negative: #ff8b8b;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-primary {
  background-color: var(--color-surface-primary-light);
}

.dark .bg-primary {
  background-color: var(--color-surface-primary-dark);
}

.bg-secondary {
  background-color: var(--color-surface-secondary-light);
}

.dark .bg-secondary {
  background-color: var(--color-surface-secondary-dark);
}

.bg-tertiary {
  background-color: var(--color-surface-tertiary-light);
}

.dark .bg-tertiary {
  background-color: var(--color-surface-tertiary-dark);
}

.border-primary {
  border-color: var(--color-text-primary-light);
}

.dark .border-primary {
  border-color: var(--color-text-primary-dark);
}

.border-secondary {
  border-color: var(--color-text-secondary-light);
}

.dark .border-secondary {
  border-color: var(--color-text-secondary-dark);
}

.border-tertiary {
  border-color: var(--color-text-tertiary-light);
}

.dark .border-tertiary {
  border-color: var(--color-text-tertiary-dark);
}

.text-primary {
  color: var(--color-text-primary-light);
}

.dark .text-primary {
  color: var(--color-text-primary-dark);
}

.text-secondary {
  color: var(--color-text-secondary-light);
}

.dark .text-secondary {
  color: var(--color-text-secondary-dark);
}

.text-invert {
  color: var(--color-text-invert-light);
}

.dark .text-invert {
  color: var(--color-text-invert-dark);
}

.text-negative {
  color: var(--color-status-negative-light);
}

.bg-negative {
  color: var(--color-status-negative-light);
}
